.product-description {
  display: flex;
  margin: 50px;
  font-family: sans-serif;
}
.product-images {
  width: auto;
  height: auto;
  margin-right: 50px;
  position: relative;
  left:520px ;
  top:-120px;
}


.product-image {
  width: 100%;
}

.product-name {
  font-size: 100px;
  font-weight: bold;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  left: 520px;
  top:-120px;
}

.product-price {
  font-size: 28px;
  color:rgb(73, 37, 118);
  margin-top: 10px;
  position: relative;
  left: 520px;
  top:-120px;
  /* Add border properties */
  border: 2px solid rgb(111, 33, 147);
  padding: 5px; 
}
.product-description-text {
  margin-top: 20px;
  line-height: 1.5;
  position: relative;
  left: 520px;
  top: -120px;
  color: #000000;
  font-size: 5px;
  font-family:'Times New Roman', Times, serif;
}
.product-description-text ul {
  list-style: none;
  padding-left: 1em; /* Adjust spacing */
}

.product-description-text li {
  position: relative;
  margin-bottom: 0.5em; /* Adjust spacing between list items */
}

.product-description-text li::before {
  content: '\2022'; /* Use the code for your chosen icon */
  position: absolute;
  left: -1em; /* Adjust the distance from the list item */
}
.p3{
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-actions {
  margin-top: 20px;
}


.like-button,
.speak-description-button,
.add-to-cart-button,
.buy-now-button {
  border: none;
  background-color: #f3f1f0;
  color: rgb(4, 4, 4);
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
  left: 420px;
  top: -140px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
}

.add-to-cart-icon {
  margin-right: 5px;
}

.like-icon {
  margin-right: 5px;
  color: #000000;
}

.liked {
  color: rgb(95, 9, 9);
}
.Googlepixel{
  background-color: #e0dddd;
}
